.content {}

  .box {
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 0;
    }

    &__header {
      min-height: 40px;
      line-height: 40px;
      margin-bottom: 20px;

      @extend %clearfix;
      
      &__title {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.15;
        margin-bottom: 0;
      }
      &__floater {
        line-height: 40px;
        text-decoration: none;
        float: none;
        display: block;
        text-align: left;
        width: auto;
        .svg_ic__wrapper {
          display: inline-block;
          margin-right: 4px;
          .svg-icon_schedule {
            margin-top: -2px;
          }
        }
        span {
          border-bottom: 1px dashed currentColor;
        }
        @include breakpoint(large) {
          display: inline-block;
          width: 250px;
          text-align: right;
          float: right;  
        }
      }

      &_double &__title {
        @include breakpoint(large) {
          width: 70%;
          width: calc(100% - 250px);
        }
      }

    }


    &__content {}

  }