.footer {
  &__nav {
    background-color: #eee;
    padding: 15px 0;
    text-align: center;
    @include breakpoint(medium) {
      text-align: left;
    }
    a {
      display: block;
      text-transform: uppercase;
      height: 30px;
      line-height: 30px;
      color: $black;
      &:last-child {
        margin-right: 0;
      }
      @include breakpoint(medium) {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        margin-right: 20px;
      }
    }
  }

  &__content {
    background-color: $black;
    padding-top: 15px;
    padding-bottom: 20px;
    
    
    &__wrapper {
      position: relative;
      @extend %clearfix;
      > div {
        display: block;
        text-align: center;
        font-size: 13px;  
        @include breakpoint(medium) {
          text-align: left;
          float: left;
          clear: left;
        }
      }
    }

    
    &__copyright {
      color: #fff;
      margin-bottom: 15px;
    }
    &__address {
      color: $light-gray;
    }

    &__vk {
      @extend .svg_el__vk;
      display: block;
      width: 34px;
      margin: 0 auto 30px;
      @include breakpoint(medium) {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        
      }
    }
  }
}