.header {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 20px;
  
  &.has-mobile-nav {}
  
  &.is-simple {
    margin-bottom: 0;
    border-bottom: none;  
  }

  &__headline {
    height: 99px;
    line-height: 58px;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
  }

    &__logo {
      float: left;
      height: 58px;
      width: 207px;
      display: block;
      background-image: url('../img/logo.png');
    }

    &__user {
      line-height: 46px;
      display: inline-block;
      color: $black;
      margin-right: 33px;
      img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        height: 46px;
        width: 46px;
        border-radius: 50%;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        color: $black;
        text-decoration: underline;
      }
      &:hover span {
        text-decoration: none;
      }
    }

    &__login {
      line-height: $global-lineheight;
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      height: 19px;
      line-height: 19px;
      cursor: pointer;
      color: $black;
      .svg_ic__wrapper {
        margin-right: 4px;
        svg {
          margin-top: -2px;
        }
      }
      span {
        font-weight: bold;
        color: $black;
        font-size: 16px;
      }
    }

    &__vk {
      @extend .svg_el__vk;
      line-height: $global-lineheight;
      vertical-align: middle;
      display: none;
      margin-left: 65px;
      @include breakpoint(medium) {
        display: inline-block;  
      }
    }

  &__start-account {
    float: right;
    @include nmk-button;
  }

}

.navigation {
  border-top: 1px solid $light-gray;
  height: 61px;
  padding-top: 14px;
  padding-bottom: 18px;
  line-height: 28px;
  position: relative;
  
  &__trigger {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    @include breakpoint(large) {
      display: none;
    }
  }

  &__menu {
    line-height: 28px;
    display: none;
    > a {
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
      font-size: 16px;
      color: $black;
      font-weight: 600;
      text-decoration: none;
      margin-right: 24px;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      @include breakpoint(medium down) {
        &:hover {
          color: $primary-color;
        }
      }
      @include breakpoint(large) {
        &:hover {
          border-bottom: 3px solid $primary-color;
        } 
      }
    }

    &__user {
      display: block;
      line-height: 30px;
      height: 30px;
      margin-top: 20px;
      text-decoration: none;
      color: $black;
      img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        float: left;
        margin-left: -35px;
        @include breakpoint(medium) {
          margin-left: -45px;
        }
      }
      span {
        display: inline-block;
        vertical-align: middle;
        font-weight: 600;
        color: $black;
        text-transform: uppercase;
        font-size: 16px;
      }
    }


    .has-mobile-nav & {
      @include breakpoint(medium down) {
        display: block;
        z-index: 5;
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 20px;
        background-color: #fff;
        border: 1px solid $light-gray;
        border-width: 1px 0;
        padding-left: 40px;
        padding-right: 20px;
        a {
          display: block;
        }
      }
      @include breakpoint(medium only) {
        padding-left: 60px;
      }
    }
    @include breakpoint(large) {
      display: inline-block;
    }
  }
  
}

