.courses-sidebar {

  &__stats {
    
    &__specs {
      margin-bottom: 25px;
      > span {
        display: block;
        line-height: 23px;
        b {
          display: inline-block;
          margin-left: 10px;
          &.is-large {
            font-size: 18px;
          }
          .symbol_ruble {
            font-family: Tahoma, sans-serif;
          }
        }
      }
    }

    &__action {
      margin-bottom: 15px;
      @include nmk-button();
      margin-bottom: 20px;
    }

    &__description {}
  }

   


}