extends layouts/layout-default.jade

//- pass vars to the layout
block vars 
  - var bodyClass = 'page-index'
  - var metaTitle = ''
  - var metaDescription = ''
  - var metaKeywords = ''


//- layout content inside body tag
block content

  main.content
    .wrapper
      
      +b.account
      
        +breadcrumbs('Мой кабинет')

        +b.account__navigation
          +e.A.action Мой кабинет
          +e.A.action.is-active Мои курсы
          +e.A.action Мои сертификаты     

        +b.HEADER.box__header
          +e.title
            h1 Мои курсы
            
          +b.account-videos__navigation
            +e.A.action Предстоящие мероприятия      
            +e.A.action.is-active Mои видеозаписи

          include components/sort-filters

        
        - var coursesGridCount = 6;
        - var coursesGridNoHeader = true;
        - var coursesGridNoNav = true;
        - var coursesHasMediumLayout = true;
        include components/courses



  include components/footer