extends layouts/layout-default.jade

//- pass vars to the layout
block vars 
  - var bodyClass = 'page-index'
  - var metaTitle = ''
  - var metaDescription = ''
  - var metaKeywords = ''


//- layout content inside body tag
block content

  main.content
    .wrapper
      
      +b.account
      
        +breadcrumbs('Мой кабинет')

        +b.account__navigation
          +e.A.action Мой кабинет
          +e.A.action Мои курсы
          +e.A.action.is-active Мои сертификаты     

        +b.HEADER.box__header
          +e.title
            h1 Мои сертификаты
            
        +b.SECTION.account-certificates
          .row.nested
            - var i = 0
            while i++ < 8
              .small-12.large-6.xlarge-4.column
                +e.item
                  +e.image
                    img(src='pic/cert-1.jpg')
                  +e.A.title Как накопить на старость
                  +e.description.
                    Эксклюзивный интенсивный курс занятий от сотрудников Московской биржи!


  include components/footer