extends layouts/layout-default.jade

//- pass vars to the layout
block vars 
  - var bodyClass = 'page-index'
  - var metaTitle = ''
  - var metaDescription = ''
  - var metaKeywords = ''


//- layout content inside body tag
block content

  main.content
    .wrapper
      
      +b.account
      
        +breadcrumbs('Мой кабинет')

        +b.account__navigation
          +e.A.action.is-active Мой кабинет
          +e.A.action Мои курсы
          +e.A.action Мои сертификаты     

        +b.HEADER.box__header
          +e.title
            h1 Мой баланс
            
        +b.account-balance
          .row.nested
            .small-12.large-8.column
              +b.account-balance__history
                +e.title История
                +e.TABLE.table
                  tbody
                    - var i = 0
                    while i++ < 3
                      tr
                        +e.TD.date 20 января 2016
                        +e.TD.amount +500 
                          span ₽
                        +e.TD.description.
                          Пополнение счета в терминале Сбербанка



            .small-12.medium-6.medium-push-3.large-4.large-pull-0.xlarge-3.column
              +e.summary
                span Баланс
                +e.SPAN.amount 6 700 
                  span ₽

              +e.A.action Пополнить счет


  include components/footer