extends layouts/layout-default.jade

//- pass vars to the layout
block vars 
  - var bodyClass = 'page-index'
  - var metaTitle = ''
  - var metaDescription = ''
  - var metaKeywords = ''
  //- user account
  - var userLoggedIn = true


//- layout content inside body tag
block content

  main.content
    .wrapper
      
      +b.account
      
        +breadcrumbs('Мой кабинет')

        +b.account__navigation
          +e.A.action.is-active Мой кабинет
          +e.A.action Мои курсы
          +e.A.action Мои сертификаты     

        .row.nested
          +b.account-entry
            .small-12.xlarge-8.column
              h1 Мой кабинет
              +e.profile
                +b.user-profile
                  +e.data
                    +e.IMG.avatar(src='pic/avatar-lc.png')
                    +e.name 
                      a(href="#") редактировать
                      span Андрей Иванов
                    +e.specs
                      p
                        span Контактный номер:
                        | 8 800 456 34567
                      p
                        span Электронный ящик:
                        | ivanov@mail.ru
                      p
                        span Пол:
                        | мужской
                      p
                        span Дата рождения:
                        | 14 февраля 1987
                      p
                        span Город:
                        | Москва
                      p
                        span Брокер:
                        | Открытие
                      p
                        span Интересы:
                        | Парный трейдинг, скальпинг,  арбитраж,  инвестирование
              +b.account-entry__balance
                +e.H2.title Текущий баланс
                +e.data
                  +e.amount  6 700 
                    span ₽
                  +e.A.action_recharge Пополнить 
                  +e.A.action_history.is-disabled История
            
            .small-12.xlarge-4.column
              .account-entry__calendar__wrapper
                +b.account-entry__calendar
                  +e.H2.title Календарь событий

                  +e.widget(data-component="calendar")
                    input(type="hidden", data-calendar="datepicker")

                  +e.dates 1, 2, 3, 5 и 8 февраля
                  +e.event Теханализ 2.0
                  +e.A.action Подробнее


  include components/footer