extends layouts/layout-default.jade

//- pass vars to the layout
block vars 
  - var bodyClass = 'page-index'
  - var metaTitle = ''
  - var metaDescription = ''
  - var metaKeywords = ''


//- layout content inside body tag
block content

  main.content
    .wrapper

      +breadcrumbs('Как накопить на старость')

      .content__body.row.nested.box
        .column.small-12
          +b.HEADER.box__header
            +e.title
              h1 Как накопить на старость
            +e.floater
              +svgIconWrapped('small', 'schedule')
              span Моё расписание
            
        .content__column_primary.column.small-12.medium-12.large-8

          +b.SECTION.course-desc
            +b.course-desc__header
              +e.stats
                +e.date
                  +svgIconWrapped('large', '31')
                  span
                    | 18, 20, 22, 25 и 27 января
                    br
                    | Начало в 19-00
                +e.type
                  +svgIconWrapped('large', 'circles') 
                  span Вебинар
                +e.person 
                  +svgIconWrapped('large', 'person') 
                  span Станислав Дудков

            +e.article
              +b.OL.list_decorated
                - var i = 0
                while i < 5
                  +e.item
                    +e.title 
                      b День первый 
                      | «Личное финансовое планирование»
                    +e.content
                      p
                        em
                          | — Важность финансового планирования
                          br
                          | — Порядок учета финансовых поступлений и их распределение
                          br
                          | — Постановка финансовых целей и их достижение
                          br
                          | — Как ускорить создание собственных капиталов
                          br
                          | — Рассмотрение примеров
                  - i++


            +b.course-desc__stats
              +e.A.action Зарегистрироваться
              +e.social
                include components/social-box




        .content__column_sidebar.column.small-12.medium-12.large-4
          include components/sidebar-courses


  .content.content_secondary
    .wrapper
      
      - var coursesNoIcon = true;
      include components/courses
      

  include components/footer