extends layouts/layout-default.jade

//- pass vars to the layout
block vars 
  - var bodyClass = 'page-index'
  - var metaTitle = ''
  - var metaDescription = ''
  - var metaKeywords = ''
  //- header
  - var headerSimple = true



append header
  include components/slider


//- layout content inside body tag
block content

  main.content
    .wrapper

      include components/courses

      +b.partners.box
        +e.box
          +e.title Соорганизатор
          +e.content
            a(href="#")
              img(src='pic/partner-coop.png') 
        +e.box
          +e.title Наши проекты:
          +e.content
            a(href="#")
              img(src='pic/partner-proj-1.png') 
            a(href="#")
              img(src='pic/partner-proj-2.png') 
        +e.box
          +e.title Наши партнеры:
          +e.content
            a(href="#")
              img(src='pic/partner-1.png') 
            a(href="#")
              img(src='pic/partner-2.png') 


      a.banner_index-wide.box
        img(src="pic/banner-index-1.jpg")

      

  include components/footer