extends layouts/layout-default.jade

//- pass vars to the layout
block vars 
  - var bodyClass = 'page-index'
  - var metaTitle = ''
  - var metaDescription = ''
  - var metaKeywords = ''


//- layout content inside body tag
block content

  main.content
    .wrapper

      +breadcrumbs('Преподаватели')

      +b.SECTION.teachers
        +e.header
          +e.H1().title О преподавателях
        +e.list
          - var i = 0
          while i++ < 5
            - var oddClass = 'is-even'
            - if(i % 2 == 1) oddClass = 'is-odd'
            +b.teachers__item(class=oddClass)
              +e.image
                img(src="pic/teacher-#{i}.jpg")
              +e.content
                +e.A.name Алексей горбунов
                +e.info
                  p 
                    span Образование
                    | Окончил Челябинский государственный университет, физический факультет
                  p 
                    span Опыт
                    | Преподаватель с 2013 года
                  p 
                    span Читаю для Вас
                    | Проект по автоматическому помощнику решения проблем пользователей
                  p 
                    span О себе
                    | Автор официальных видео инструкций программы. Автор справочника по встроенным индикаторам с примерами.
        

      include components/pagination
            
  include components/footer