extends layouts/layout-default.jade

//- pass vars to the layout
block vars 
  - var bodyClass = 'page-index'
  - var metaTitle = ''
  - var metaDescription = ''
  - var metaKeywords = ''


//- layout content inside body tag
block content

  main.content
    .wrapper

      +breadcrumbs('Видеозаписи')

      +b.HEADER.box__header
        +e.title
          h1 Видеозаписи
        include components/sort-filters

      +b.SECTION.videos
        .row.nested
          - var i = 0
          while i < 9
            .column.small-12.large-6.xlarge-4
              +b.videos__item
                +e.header 
                  +e.date 15 января
                  +e.views
                    .svg_wrapper
                      +svgIcon('eye-shape')
                    span 125

                +e.image
                  img(src="pic/video-#{i+1}.jpg")
                +e.A.title Опционы Опционы Опционы Опционы 
                +e.description.
                  Базовый курс. Состоит из 5 вебинаров 
                  Также прилагается презентация
                  Также прилагается презентация

                +e.info
                  +e.A.author
                    +svgIconWrapped('small', 'person')
                    span Павел Пахомов
                  +e.rating
                    .svg_wrapper
                      +svgIcon('star')
                    span 5
                  - i++
      
      include components/pagination
            

      

  include components/footer