mixin svgIcon(name, className)
  - if(!className) {var className = ''}
  - else {className += ' '}
  svg(
    class="#{className}svg_ic svg-icon_#{name}"
  )&attributes(attributes)
    use(
      xmlns:xlink = "http://www.w3.org/1999/xlink"
      xlink:href = "#{'#' + name}"
    )
