+b.SECTION.courses.box
  
  //- #config
  //- coursesGridCount
  //- coursesHasMediumLayout
  //- coursesGridNoHeader

  if coursesGridCount
    - var loops = coursesGridCount
  else 
    - var loops = 3

  if coursesHasMediumLayout 
    - var coursesMediaClass = 'small-12 large-6 xlarge-4'
  else 
    - var coursesMediaClass = 'small-12 large-4'
  
  if !coursesGridNoHeader
    if !coursesNoIcon
      +b.HEADER.box__header_double
        +e.H1.title.title_h1 Ближайшие курсы
        
        +e.A.floater
          +svgIconWrapped('small', 'schedule')
          span Моё расписание
    else
      +b.HEADER.box__header
        +e.H1.title.title_h1 Ближайшие курсы

  +e.list.box__content
    .row.nested
      - var i = 0
      while i < loops

        +b.courses__item.column(class=coursesMediaClass)

          +e.header
            if i == 0
              +e.dates 
                span 19, 21, 26, 28, 29 января 2016
            else
              +e.dates 
                span 19, 21 марта 2026

            +e.category
              if i == 1
                +svgIcon('book')
              else
                +svgIcon('circles')
              span Семинар

          +e.body
            +e.A.title Как накопить на старость
            +e.description.
              Эксклюзивный интенсивный курс 
              занятий от сотрудников Московской 
              биржи!
            +e.A.author
              +svgIconWrapped('small', 'person')
              span Станислав Дудков
            +e.specs
              span Количество часов:
                b 6
              span Стоимость:
                b Бесплатно
            +e.action 
              a(data-onclick="modal", data-modal-id="reg").
                Зарегистрироваться
            -i++

  if !coursesGridNoNav
    //- courses ctrl       
    +b.courses__nav
      +e.A.btn_left Все курсы
      +e.A.btn_right Региональные