.footer
  .footer__nav  
    .wrapper
      a(href="#") Калькулятор
      a(href="#") Магазин
      a(href="#") О нас
      a(href="#") Клиентам
      a(href="#") Партнерам
  +b.footer__content
    .wrapper
      +e.wrapper
        span aisohetn
        +e.A.vk
          +svgIconWrapped('xlarge', 'social-vk')

        +e.copyright.
          Copyright © Derivative Expert 2009–2015
        +e.address
          | ИНН 7719545292 ЗАО «Дериватив Эксперт»
          br
          | 105613, г. Москва, Измайловское шоссе, д. 71, корп. 4ГД

