- var classList = ''
- if(headerSimple) classList += ' is-simple'

+b.SECTION(
  class = 'header#{classList}'
  data-component = 'mobile-nav'
)
  +e.headline
    .wrapper 
      +e.A(href="#").logo
        

      if userLoggedIn
        +e.A.user.show-for-large
          img(src="pic/avatar-lc.png")
          span Андрей Иванов
        +e.A(href="#").login
          +svgIconWrapped('small', 'key-hole')
          span Выход
      else
        +e.A(href="#").login
          +svgIconWrapped('small', 'key-hole')
          span Вход
      
      +e.A(href="#").vk
        +svgIconWrapped('xlarge', 'social-vk')

  +b.navigation
    .wrapper
      +e.BUTTON(
        data-mobile-nav = 'trigger'
      ).trigger
        +svgIcon('menu')
      +e.NAV(
        data-mobile-nav = 'menu'
      ).menu
        a Курсы 
        a О преподавателях 
        a Поддержка
        a Контакты
        if userLoggedIn
          +e.menu__user.hide-for-large
            img(src="pic/avatar-lc.png")
            span Андрей Иванов
          a Выход
          
      a(href="#").header__start-account Открыть счёт у брокера