+b.overlay(data-component='overlay')
  +e.wrapper
    +b.modal_reg(data-overlay='modal', id='reg')
      +e.wrapper
        +e.action_close(data-overlay='close')
          +svgIcon('cross')
        +e.body
          +b.FORM.register-seminar
            +e.H1.title Регистрация на семинар
            +e.description
              p
                | Курс вебинаров 
                br
                | «Облигации как альтернатива депозитам: 
                br
                | практика торговли, ИИС и другие аспекты»
                br
                | Игорь Лахунин 
                br
                | 15, 16 и 17 декабря
              +e.pick-participation
                span Форма участия:
                p
                  input(type='radio', id='pick-participation-1', name='pick-participation')
                  label(for='pick-participation-1') Очное
                p
                  input(type='radio', id='pick-participation-2', name='pick-participation')
                  label(for='pick-participation-2') Трансляция

            +e.notice
              p Для того, чтобы бесплатно зарегистрироваться на мероприятие, необходимо вступить в группу Школа Московской биржи
              +svgIconWrapped('xlarge', 'social-vk')
            +e.user-inputs
              +e.user-data_line-33
                input(type='text', placeholder="Фамилия")
                input(type='text', placeholder="Имя")
                input(type='text', placeholder="Отчество")
              +e.user-data_line-50
                input(type='text', placeholder="Телефон")
                input(type='text', placeholder="E-mail")
            +e.check-approvals
              p
                input(type='checkbox', id='id-approve-1')
                label(for='id-approve-1')
                  +svgIcon('check')
                  | Настоящим я разрешаю компаниям ЗАО “Дериватив Эксперт” и ПАО “Московская Биржа” получать, хранить и использовать мои персональные данные: имя, фамилию, адреса, телефоны, адрес электронной почты в целях обеспечения доставки заказов и взаиморасчетов. Согласие может быть в любой момент отозвано мною путем отправления письменного уведомления.
              p
                input(type='checkbox', id='id-approve-2')
                label(for='id-approve-2')
                  +svgIcon('check')
                  | Я даю согласие на получение информационных рассылок от ПАО «Московская Биржа» 
            +e.BUTTON.action(type="submit") Зарегистрироваться

