+b.SECTION.pagination
  +e.A.go_prev
    +svgIcon('arrow')
  +e.list
    - var i = 0
    while i++ < 3
      if i == 1
        +e.SPAN.current #{i}
      else
        +e.A().link #{i}
  +e.A.go_next
    +svgIcon('arrow')