+b.SECTION.courses-sidebar

  +b.courses-sidebar__stats.sidebar__box
    +e.specs
      span
        em Количество часов:
        b 7
      span
        em Стоимость:
        b.is-large 750 
          span.symbol_ruble ₽
    +e.A.action Зарегистрироваться
    +e.description
      em Стоимость указана за весь курс, состоящий из 5 занятий. Если Вы не сможете посе- тить все занятия – Вам будет доступна видеозапись вебинара.

  +b.subscribe-box.sidebar__box
    +e.H2.title
      | Подписаться 
      br
      |на рассылку
    +e.description
      | Про все самые новые курсы 
      br
      | Вы узнаете первыми
    +e.FORM.form
      +e.INPUT(type='text', placeholder='E-mail').input
      +e.BUTTON(type='submit').action Подписаться

  +b.contact-box.sidebar__box
    +e.H2.title Есть вопросы?
    +e.row
      +e.email 
        +svgIcon('envelope')
        a(href='mailto:moex.school@moex.com') moex.school@moex.com
    +e.row 
      +e.phone
        +svgIcon('smartphone')
        a(href='tel:74953633232') +7 (495) 363-32-32 
      +e.EM.caption Дмитрий Филимонов
    +e.row
      +e.phone 
        +svgIcon('smartphone')
        a(href='tel:74953633232') +7 (495) 234-48-11
      +e.EM.caption Станислав Говоров

