+b.SECTION.slider(data-component="slide-gallery")
  .wrapper
    +e.wrapper
      +e.content(data-slide-gallery="content")

        - var i = 1
        while i < 6
          +b.slider__item
            +e.image(
              style = 'background-image: url(\"pic/slider-#{i}.png\")'
            )
            +e.content
              +e.title
                | Мы научим вас грамотно работать - #{i}
                br
                | на финансовых рынках 
              +e.description
                | Новый опционный калькулятор! 
                br
                | Моделирование позиции онлайн!
              +e.A(href="#").button.
                Калькулятор
          - i++


      +e.pagination(data-slide-gallery="pagination")

