+b.social-box
  +e.A.button_tw
    +e.icon
      +svgIcon('social-tw')
    +e.counter 88
  +e.A.button_fb
    +e.icon
      +svgIcon('social-fb')
    +e.counter 188
  +e.A.button_vk
    +e.icon
      +svgIcon('social-vk')
    +e.counter 5
  +e.A.button_gp
    +e.icon
      +svgIcon('social-gp')
    +e.counter 1