+b.sort-filters
  +e.box
    +e.SPAN.label Сортировать: 
      +e.A.filter-action.is-active По дате проведения
      +e.A.filter-action По количеству просмотров 
    +e.SPAN.label По автору:
      +e.LABEL(for='select').filter-list
        select#select
          option Алексей Всемирнов
          option Владимир Путин
          option Алексей Всемирнов
          option Владимир Путин
