.banner {
  
  
  &_index-wide {
    margin: 0 auto;
    display: block;
    margin-left: -10px;
    margin-right: -10px;
    @include breakpoint(medium) {
      margin-left: -20px;
      margin-right: -20px;
    }
    @include breakpoint(large) {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    
  }

}

