.breadcrumbs {

  margin-bottom: 25px;

  > * {
    display: inline-block;
    margin-right: 5px;
  }

  &__link, &__current {
    color: $black;
    text-decoration: none;
  }
  &__link {}
  &__separator {
    color: $secondary-color;
  }
  &__current {}
}