.contact-box {
  @include pointing-box(220px, 40px);
  
  padding: 23px 0 0 25px;
  height: 220px;
  border-radius: 5px 3px 3px 5px;
  transform: translate(-15px, 0);
  
  width: 245px;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(large) {
    transform: translate(0, 0);
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    min-width: 260px;
    width: 80%;
    width: calc(100% - 40px);
  }

  
  &__title {
    margin-bottom: 10px;
    white-space: no-wrap;
  }

  &__row {
    line-height: 20px;
    margin-bottom: 15px;
    a {
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      color: $black;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
    &__email {
      svg {
        margin-left: -2px;
        margin-right: 3px;
        display: inline-block;
        vertical-align: middle;
      }
      a {
        font-style: italic;
      }
    }
    &__phone {
      svg {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
      a {
        font-size: 16px;
        font-weight: bold;
      }
    }
      &__caption {}
}