.courses {

  &__list {
    @extend %clearfix;
  }

    &__item {
      @include breakpoint(large) {
        height: 415px;
      }
      margin-bottom: 40px;
      // @include breakpoint(medium down) {
      //   clear: both;        
      //   &:last-child {
      //     margin-bottom: 20px;
      //   }
      // }
      // @include breakpoint(large only) {
      //   &:nth-of-type(2n + 1) {
      //     clear: both;        
      //   }
      //   &:nth-last-of-type(-n + 2) {
      //     margin-bottom: 20px;
      //   }
      // }
      // @include breakpoint(xlarge) {
      //   &:nth-of-type(3n + 1) {
      //     clear: both;        
      //   }
      //   &:nth-last-of-type(-n + 3) {
      //     margin-bottom: 20px;
      //   }
      // }
      
      
      &__header {
        height: 90px;
        background-color: $black;
        padding: 15px;
      }

        &__dates {
          height: 30px;
          line-height: 30px;
          padding-left: 12px;
          margin-bottom: 13px;
          font-size: 13px;
          padding-right: 15px;
          font-style: italic;
          display: inline-block;
          max-width: 100%;
          max-width: calc(100% - 11px);
          @include pointing-box(30px);
          span {
            height: 30px;
            display: inline-block;
            overflow: hidden;
          }
        }
        &__category {
          color: #fff;
          height: 20px;
          line-height: 20px;
          svg {
            margin-right: 5px;
            fill: currentColor;
            vertical-align: middle;
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
      &__body {
        border: 2px solid $secondary-color;
        border-radius: 0 0 30px 30px;
        border-top-width: 0;
        padding: 15px 13px;
        @include breakpoint(medium down) {
          padding-bottom: 25px;
        }
        @include breakpoint(large) {
          height: 325px;
        }
      }
        &__title {
          color: $black;
          font-size: 16px;
          font-weight: 700;
          display: block;
          line-height: 24px;
          margin-bottom: 10px;
          @include breakpoint(medium only) {
            font-size: 20px;
          }
          @include breakpoint(large) {
            height: 48px;
            margin-bottom: 3px;
            overflow: hidden;
          }
        }
        &__description {
          font-size: 13px;
          line-height: 21px;
          margin-bottom: 15px;
          @include breakpoint(medium only) {
            font-size: 16px;
          }
          @include breakpoint(large) {
            height: 85px;
            overflow: hidden;
          }
        }
        &__author {
          height: 19px;
          line-height: 19px;
          margin-bottom: 10px;
          color: $black;
          display: block;
          overflow: hidden;
          .svg_ic__wrapper {
            margin-right: 5px;
            svg {
              vertical-align: middle;
            }
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
        &__specs {
          height: 46px;
          line-height: 23px;
          margin-bottom: 26px;
          span {
            display: block;
            font-style: italic;
            b {
              font-style: normal;
              display: inline-block;
              font-weight: 700;
              margin-left: 5px;
            }
          }
        }
        &__action {
          text-align: center;
          a {
            max-width: 100%;
            @include nmk-button;
          }
        }
    }

  &__nav {
    margin-top: 15px;
    height: 30px;
    @extend %clearfix;
    &__btn {
      @include nmk-button($black, $black, $primary-color, $primary-color);
      &_left {
        float: left;
      }
      &_right {
        float: right;
      }
    }
  }

}