.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: none;
  top: 0;
  left: 0;
  &.is-visible {
    display: block;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.4);
  }
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  overflow-y: auto;
  
  @include breakpoint(large) {
    border-radius: 0 0 30px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 780px;
    height: auto;
    max-height: 100%;
  }

  &.is-visible {
    display: block;
  }

    
  &_reg {
  }
    &__wrapper {
      position: relative;
      width: 100%;
      padding: 35px;
    }

    &__action_close {
      position: absolute;
      top: 12px;
      right: 12px;
      cursor: pointer;
      svg {
        fill: $primary-color;
      }
    }

      &__body {}
}
  
.register-seminar {
  &__title {
    margin-bottom: 25px;
  }
  &__description {
    margin-bottom: 20px;
    p {
      display: inline-block;
    }
    @include breakpoint(large) {
      padding-right: 200px;
    }
  }
    &__pick-participation {
      width: 160px;
      display: block;
      border: 2px solid $secondary-color;
      border-radius: 0 0 20px 20px;
      font-size: 13px;
      padding: 10px 10px 15px;
      > span {
        font-style: italic;
        display: inline-block;
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 5px;
        line-height: 1.1;
        input[type=radio] {
          display: none;
          + label {
            padding-left: 16px;
            font-weight: 600;
            position: relative;
            display: inline-block;
            &:before, &:after {
              position: absolute;
              content: "";
            }
            &:before {
              width: 12px;
              height: 12px;
              top: 50%;
              left: 0;
              margin-top: -6px;
              border-radius: 50%;
              border: 1px solid $black;
            }
          }  
          &:checked {
            + label {
              &:after {
                width: 6px;
                height: 6px;
                top: 50%;
                left: 3px;
                margin-top: -3px;
                border-radius: 50%;
                background-color: $primary-color;
              }
            }
          }
        }
        
      }
      
      @include breakpoint(large) {
        margin-right: -200px;
        float: right;
      }
    }

  &__notice {
    margin-bottom: 20px;
    p {
      display: inline-block;
      vertical-align: top;
      font-style: italic;
      margin-bottom: 0;
      @include breakpoint(large) {
        max-width: 80%;
      }
    }
    .svg_ic__wrapper {
      display: block;
      margin: 10px auto 20px;
      @include breakpoint(large) {
        display: inline-block;
        margin: 0 0 0 20px;
        vertical-align: top;
      }
    }
  }

  &__user-inputs {
  }
    &__user-data{

      @include breakpoint(small down) {
        > * {
          display: block;
          width: 100%;
          margin-bottom: 10px;
        }
      }

      @include breakpoint(medium) {
        margin-bottom: 20px;
        height: 30px;
        @extend .clearfix;
        > * {
          float: left;
        }
      }

      &_line-33 {
        @include breakpoint(medium) {
          > * {
            width: 32%;
            &:nth-child(2) {
              margin-left: 2%;
              margin-right: 2%;
            }
          }  
        }
      }
      &_line-50 {
        @include breakpoint(medium) {
          > * {
            width: 49%;
            &:nth-child(2) {
              margin-left: 2%;
            }
          }  
        }
      }
    }


  &__check-approvals {
    margin-bottom: 30px;
    p {
      input[type=checkbox]  {
        display: none;
        + label {
          padding-left: 27px;
          font-weight: 600;
          position: relative;
          display: inline-block;
          &:before, .svg_ic {
            position: absolute;
          }
          .svg_ic {
            display: none;
          }
          &:before {
            content: "";
            width: 15px;
            height: 15px;
            top: 4px;
            left: 0;
            border-radius: 4px;
            border: 1px solid $black;
          }
        }  
        &:checked {
          + label {
            .svg_ic {
              fill: $primary-color;
              display: block;
              top: 50%;
              top: 6px;
              left: 1px;
            }
          }
        }
      }
      
    }
  }

  &__action {
    @include nmk-button();
    display: block;
    width: 250px;
    margin: auto;
  }
}