.pagination {
  text-align: center;
  height: 36px;
  line-height: 36px;
  
  &__go {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    line-height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    svg {
      fill: $primary-color;
      display: inline-block;
      vertical-align: top;
    }
    &_prev {
      transform: rotate(180deg);
      margin-right: 12px;
    }
    &_next {
      margin-left: 12px;
    }
  }
  &__list {
    display: inline-block;
    vertical-align: middle;
    span, a {
      display: inline-block;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin: 0 5px;
      color: $white;
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
    }
    span {
      background-color: $black;
    }
    a {
      background-color: $primary-color;
    }
  }
}