.partners {
  text-align: center;
  width: 100%;
  @extend %clearfix;
  
  @include breakpoint(xxlarge) {
    text-align: justify;
  }
  
  &:after {
    content: "";
    display: inline-block;
    height: 0px;
    width: 100%;
  }
  
  &__box {
    padding-top: 40px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 50px 50px;
    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint(medium) {
      
    }
    @include breakpoint(xxlarge) {
      margin: 0;
    }
  }
    &__title {
      position: absolute;
      top: 0;
      left: 0;
      @extend .title_h3;
    }
    &__content {
      width: 100%;
      display: inline-block;
      text-align: justify;
      &:after {
        content: "";
        display: block;
        height: 0;
        width: 100%;
      }
      a {
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
        height: 70px;
        line-height: 70px;
        &:last-child {
          margin-right: 0;
        }
        img {
          display: inline-block;
          vertical-align: middle;
          max-height: 70px;
        }
      }
    }
  
  
}