.slider {

  margin-bottom: 40px;

  .wrapper {
    @include breakpoint(medium down) {
      padding: 0;
    }
  }

  &__wrapper {
    @include breakpoint(medium down) {
      @extend .wrapper;
    }
    height: 240px;
    @include breakpoint(large) {
      height: 240px;
      padding: 0;
    }
    
    width: 100%;
    position: relative;
  }

    &__content {
      background-color: #ccc;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      overflow: hidden;
      @include breakpoint(large) {
        border-radius: 0 0 30px 30px;
      }
    }

      &__item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0px;
        right: 0;
        display: block;
        opacity: 0;
        z-index: 1;
        transition: opacity 1s ease-in;
        
        &.active {
          opacity: 1;
          z-index: 2;
          transition: opacity .5s;
        }

        &__image {
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: 50% 50%;
          z-index: 3;
        }
        &__content {
          position: relative;
          z-index: 5;
          padding-top: 20px;
          padding-left: 10px;
          padding-right: 10px;
          height: 100%;
          @include breakpoint(medium) {
            padding-left: 20px;
            padding-right: 20px;
          }
          @include breakpoint(large) {
            padding-left: 30px;
            padding-right: 30px;
          }
          
        }
          &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 1.1;
            margin-bottom: 10px;
            @include breakpoint(medium) {
              font-size: 24px;
            }
            @include breakpoint(large) {
              font-size: 32px;
              font-weight: 800;
              line-height: 39px;
            }
            text-transform: uppercase;
          }
          &__description {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 30px;
            @include breakpoint(medium) {
              font-size: 18px;
            }
          }

        &__button {
          display: inline-block;
          position: relative;
          z-index: 5;
          @include nmk-button();
          @include breakpoint(large) {
            position: absolute;
            z-index: 5;
            left: 30px;
            bottom: 20px;
          }
        }
      }
    
    &__pagination {
      position: absolute;
      bottom: 20px;
      right: 30px;
      z-index: 3;
      height: 18px;
      line-height: 18px;
      text-align: right;
      > button {
        display: inline-block;
        vertical-align: baseline;
        width: 27px;
        height: 18px;
        line-height: 18px;
        position: relative;
        border-radius: 50%;
        &:before, &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          content: "";
        }
        &:after {
          height: 6px;
          width: 6px;
          margin-top: -3px;
          margin-left: -3px;
          background-color: $primary-color;
          transition: 1s ease-out;
        }
        &:before {
          opacity: 0;
          height: 2px;
          width: 2px;
          transition: .5s ease-in-out;
          transform: translate(-50%, -50%);
          background-color: $primary-color;
        }
        &.active:after {
          background-color: $white;
        }
        &.active:before {
          opacity: 1;
          height: 18px;
          width: 18px;
        }
      }
    }

}