.social-box {
  line-height: 30px;
  @include breakpoint(medium) {
    height: 30px;
    white-space: nowrap;
  }
  &__button {
    height: 30px;
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
    margin-bottom: 10px;
    vertical-align: middle;
    @include breakpoint(medium) {
      margin-bottom: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &_tw {
      background-color: $color-tw;
      @include pointing-box(30px, $color : $color-tw);
    }
    &_fb {
      background-color: $color-fb;
      @include pointing-box(30px, $color : $color-fb);
    }
    &_vk {
      background-color: $color-vk;
      @include pointing-box(30px, $color : $color-vk);
    }
    &_gp {
      background-color: $color-gp;
      @include pointing-box(30px, $color : $color-gp);
    }
  }
  &__icon {
    width: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid rgba(255,255,255,.3);
    margin-top: -2px;
    svg {
      max-width: 16px;
      max-height: 16px;
      display: inline-block;
      vertical-align: middle;
      fill: $white;
    }
  }
  &__counter {
    display: inline-block;
    text-align: center;
    min-width: 25px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 30px;
    font-style: italic;
    color: #fff;
  }
}