.sort-filters {
  line-height: 24px;
  font-size: 13px;
  &__box {}
    &__label {
      display: inline-block;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }

      &__filter-action {
        display: inline-block;
        height: 24px;
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 10px;
        border-radius: 12px;
        margin-right: 8px;
        color: $black;
        text-decoration: none;
        &.is-active {
          border: 2px solid $primary-color;
          line-height: 20px;
          padding-left: 8px;
          padding-right: 8px;
        }
      }
      &__filter-list {
        select {
          width: auto;
          display: inline-block;
          margin-left: -3px;
          margin-right: -3px;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 4px;
          padding-bottom: 4px;
          background: transparent;
          border:none;
          height: 24px;
          line-height: 16px;
          font-size: 13px;
          outline:none;
          display: inline-block;
          appearance:none;
          cursor:pointer;  
        }
        &:after {
          content: "";
          vertical-align: middle;
          display: inline-block;
          border: 3px solid transparent;
          border-bottom: none;
          border-top-color: $black;
        }
      }
}