.subscribe-box {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include breakpoint(large) {
    width: auto;
    text-align: left;
  }

  &__title {
    margin-bottom: 20px;
  }
  &__description {
    margin-bottom: 20px;
  }
  &__form {
    input[type='text'] {
      display: block;
      width: 230px;
      margin-bottom: 13px;
      margin-left: auto;
      margin-right: auto;
      @include breakpoint(large) {
        margin-left: 0;
        margin-right: 0;
      }
    }
    button {
      @include nmk-button();
      display: block;
      width: 230px;
      margin-left: auto;
      margin-right: auto;
      @include breakpoint(large) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}