.teachers {

  &__header {}
    &__title {
      margin-bottom: 30px;
    }

  &__list {}
    &__item {
      margin-bottom: 45px;
      @include breakpoint(large) {
        &.is-odd {
          padding-left: 325px;
        }
        &.is-even {
          padding-right: 325px;
        }
        min-height: 300px;
      }
      &__image {
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 8px;
        display: block;
        margin: 0 auto 20px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          @include breakpoint(medium down) {
            @include triangle(top, $white, 16);
            bottom: 0;
            left: 50%;
            margin-left: -16px;
          }
          @include breakpoint(large) {
            .is-odd & {
              @include triangle(left, $white, 16);
              top: 42px;
              right: 0;
            }
            .is-even & {
              @include triangle(right, $white, 16);
              top: 42px;
              left: 0;
            }
            
          }
        }

        @include breakpoint(large) {
          .is-odd & {
            float: left;
            margin-left: -325px;
          }
          .is-even & {
            float: right;
            margin-right: -325px;
          }
          margin-bottom: 0;
        }
        img {
          display: block;
          width: 300px;
          height: 300px;
        }
      }

      &__content {}
        &__name {
          text-align: center;
          @extend .title_h2;
          text-decoration: none;
          display: block;
          margin-bottom: 20px;
          text-align: center;
          color: $black;
          @include breakpoint(large) {
            margin-bottom: 25px;
            text-align: left;
          }
          &:hover {
            text-decoration: underline;
            color: $primary-color;
          }
        }
        &__info {
          p {
            max-width: 600px;
            margin: 0 auto 5px;
            width: 100%;
            line-height: 19px;
            @include breakpoint(medium) {
              padding-left: 115px;
            }
            @include breakpoint(large) {
              max-width: 100%;
              .is-odd & {
                clear: right;
              }
              .is-even & {
                clear: left;
              }
            }
            span {
              font-weight: 400;
              color: $medium-gray;
              display: block;
              font-weight: bold;
              @include breakpoint(medium) {
                padding-right: 10px;
                width: 115px;
                float: left;
                margin-left: -115px;
                font-style: italic;
                font-weight: 400;
              }
              @include breakpoint(large) {
              }
            }
          }
        }

    }

}