.videos {

  &__item {
    border-bottom: 2px solid $secondary-color;
    margin-bottom: 45px;
    @include breakpoint(large) {
      height: 420px;
    }
    a {
      color: $black;
    }

    &__header {
      padding-top: 3px;
      line-height: 24px;
      margin-bottom: 10px;
      @extend %clearfix;
      @include breakpoint(large) {
        margin-bottom: 20px;
        height: 30px;
      }
    }

      &__date {
        margin-top: -3px;
        @include pointing-box(30px);
        display: inline-block;
        font-style: italic;
        padding-right: 8px;
        padding-left: 13px;
        line-height: 30px;
        float: left;
        font-size: 13px;
        margin-right: 20px;
      }

      &__state {  
        @include breakpoint(medium down) {
          line-height: 30px;
          white-space: nowrap;
          display: block;
          float: left;
        }
        // margin-bottom: 11px;
        font-size: 12px;
        font-style: italic;
        color: $light-gray;
        @include breakpoint(large) {
          display: inline-block;
          white-space: nowrap;
          vertical-align: top;
          line-height: 24px;
        }
      }

      &__views {
        float: right;
        line-height: 15px;
        margin-top: 2px;
        height: 15px;
        margin-bottom: 8px;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        .svg_wrapper {
          position: relative;
          display: inline-block;
          width: 27px;
          height: 15px;
          margin-right: 5px;
          vertical-align: middle;
          &:before {
            position: absolute;
            display: block;
            border-radius: 50%;
            background-color: $black;
            height: 13px;
            width: 13px;
            top: 50%;
            left: 50%;
            margin-left: -7px;
            margin-top: -7px;
            z-index: 1;
            content: "";
          }
          svg {
            position: relative;
            z-index: 2;
            margin-right: 8px;
            width: 27px;
            fill: $secondary-color;
          }  
        }
        span {
          display: inline-block;
          vertical-align: middle;
          font-style: italic;
        }
      }

    &__image {
      margin-bottom: 15px;
      width: 100%;
      position: relative;
      img {
        display: block;
        width: 100%;
      }
      @include breakpoint(large) {
        overflow: hidden;
        height: 175px;
        img {
          position: absolute;
          min-width: 100%;
          max-width: 120%;
          min-height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    &__title {
      display: block;
      margin-bottom: 12px;
      font-size: 16px;
      font-weight: 700;
      @include breakpoint(large) {
        line-height: 24px;
        height: 48px;
        overflow: hidden;
      }
    }

    &__description {
      margin-bottom: 13px;
      line-height: 21px;
      font-size: 13px;
      @include breakpoint(large) {
        height: 63px;
        overflow: hidden;
      }
    }

    &__info {
      height: 19px;
      line-height: 19px;
      margin-bottom: 20px;
      overflow: hidden;
      @include breakpoint(large) {
        margin-bottom: 0;
      }
    }

      &__author {
        color: $black;
        display: inline-block;
        .svg_ic__wrapper {
          position: relative;
          margin-right: 5px;
          svg {
            // position: absolute;
            // top: 50%;
            // left: 50%;
            max-width: 10px;
            max-height: 14px;
            // transform: translate(-50%, -50%);
            margin-top: -4px;
          }
        }
        
        span {
        }
      }

      &__rating {
        float: right;
        white-space: nowrap;
        .svg_wrapper {
          position: relative;
          width: 16px;
          height: 16px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          &:after {
            position: absolute;
            display: block;
            z-index: 2;
            top: 50%;
            left: 50%;
            content: "";
            margin-top: -2px;
            margin-left: -2px;
            width: 4px;
            height: 4px;
            background-color: $black;
            border-radius: 50%;
          }
          svg {
            position: relative;
            z-index: 1;
            margin-right: 5px;
            fill: $secondary-color;
          }
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }

  }
}