%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


@mixin image-centered() {
  position: relative;
  overflow: hidden;
  img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
  }
}


@mixin nmk-button($bg : $primary-color, $hover-bg : $success-color, $hover-color : $white, $hover-border : transparent) {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  height: 30px;
  padding: 3px 23px;
  border: 2px solid transparent;
  text-transform: uppercase;
  border-radius: 15px;
  background: $bg;
  text-decoration: none;
  color: $white;
  line-height: 20px;
  &:hover {
    background-color: $hover-bg;
    color: $hover-color;
    border-color: $hover-border;
  }
  &.is-disabled {
    background-color: #d8d8d8;
    cursor: default;
  }
}

@mixin pointing-box($height, $pointer-width: 10px, $color: $secondary-color) {
  $pointer-width : $pointer-width + 0px;
  $height : $height + 0px;
  height: $height;
  background-color: $color;
  position: relative;
  // padding-right: 15px;
  border-top-right-radius : 2px;
  border-bottom-right-radius : 2px;
  span {
    position: relative;
    z-index: 2;
  }
  &:after {
    position: absolute;
    z-index: 1;
    display: block;
    content: "";
    border-color: transparent transparent transparent $color;
    border-width: floor($height / 2) 0 ceil($height / 2) $pointer-width;
    border-style: solid;
    top: 0;
    left: 100%;
    margin-left: -1px;
  }
}


@mixin triangle($direction: right, $color: red, $height: 20, $width: $height) {
  $height : $height + 0px;
  $width : $width + 0px;
  border: $width solid transparent;
  display: inline-block;
  @if($direction == right) {
    border-right: none;
    border-left-width: $height;
    border-left-color: $color;
  } @elseif ($direction == left) {
    border-left: none;
    border-right-width: $height;
    border-right-color: $color;
  } @elseif ($direction == top) {
    border-top: none;
    border-bottom-width: $height;
    border-bottom-color: $color;
  } @elseif ($direction == bottom) {
    border-bottom: none;
    border-top-width: $height;
    border-top-color: $color;
  }
}