.course-desc {

  &__header {
    &__stats {
      text-align: justify;
      &:after {
        display: inline-block;
        width: 100%;
        content: "";
      }
      > * {
        display: inline-block;
        padding-left: 45px;
        line-height: 45px;
        vertical-align: top;
        padding-right: 15px;
        margin-bottom: 10px;
        .svg_ic__wrapper {
          float: left;
          margin-left: -45px;
        }
        span {
          line-height: 21px;
          padding-top: 5px;
          display: inline-block;
          vertical-align: top;
        }
      }
    }

      &__date {
        .svg_ic__wrapper {
          svg {
            margin-left: -2px;
            margin-top: -2px;
          }
        }
      }
      &__type {
        .svg_ic__wrapper {
          svg{
            margin-top: -2px;
          }
        }
      }
      &__person {
        .svg_ic__wrapper {
          svg{
            margin-top: -3px;
            // margin-left: -1px;
          }
        }
      }
  }

  &__article {}

  &__stats {
    @extend %clearfix;
    line-height: 30px;
    margin-bottom: 20px;
    &__action {
      @include nmk-button();
      margin-right: 30px;
      margin-bottom: 20px;
      float: left;
    }
    &__social {
      margin-bottom: 30px;
      float: left;
    }
  }

}