// forms
input[type=text] {
  height: 30px;
  line-height: 11px;
  padding: 5px 14px;
  border-radius: 15px;
  border: 1px solid $black;
  font-size: 13px;
  &::placeholder {
    color: #c2c2c2;
    font-style: italic;
  }
}