// layouts
html, body {
  min-height: 100%;
  height: 100%;
  &.has-overlay {
    overflow: hidden;
  }
}
body {  
  min-width: 320px;
  overflow-x: hidden;
}


.content {
  margin-bottom: 30px;
  &:last-of-type {
    margin-bottom: 45px;
  }
  &_secondary {
    padding-top: 30px;
    border-top: 1px solid $light-gray;
  }
}

.wrapper {
  max-width : 1010px;
  min-width: 320px;
  padding: 0 10px;
  @include breakpoint(medium) {
    padding: 0 20px;
  }
  @include breakpoint(large) {
    padding: 0 30px;
  }
  width: 100%;
  margin: 0 auto;
}



.sidebar {
  &__box {
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 0;
    }
    @include breakpoint(large) {
      margin-bottom: 55px;
    }
  }
}