.svg_ic {
  fill: currentColor;
}

// wrapped svg
@mixin svgWrapped($radius : 19px, $color : $secondary-color, $svg-color : $black) {
  height: $radius;
  width: $radius;
  line-height: $radius; 
  background-color: $color;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  svg {
    display: inline-block;
    vertical-align: middle;
    fill : $svg-color;
    font-size: 0;
    // margin-top: -2px;
    // max-width: ($radius - 2);
    // max-height: ($radius - 2);
  }
}
.svg_ic__wrapper_small {
  @include svgWrapped();
}
.svg_ic__wrapper_large {
  @include svgWrapped(32px);
}
.svg_ic__wrapper_xlarge {
  @include svgWrapped(34px, $primary-color, $white);
  svg {
    max-width: 24px;
    max-height: 24px; 
  }
}


.svg-icon_book {
  width: 18px !important;
}


.svg_el__vk {
  .svg_ic__wrapper {
    &:hover {
      background-color: $success-color;
    }
  }
  svg {
    width: 23px;
    margin-left: -1px;
  }
}