body {
  font-size: 14px;
}

// titles
h1, .title_h1,
h2, .title_h2,
h3, .title_h3,
h4, .title_h4,
h5, .title_h5,
h6, .title_h6 {
}

// titles primary group
h1, .title_h1,
h2, .title_h2,
h3, .title_h3 {
  text-transform: uppercase;
  margin-top: 0;
  line-height: 1.15;
  font-weight: 700;
}

// titles secondary group
h4, .title_h4,
h5, .title_h5,
h6, .title_h6 {}

// titles all
h1, .title_h1 {
  font-size: 32px;
}
h2, .title_h2 {
  font-size: 24px;
}
h3, .title_h3 {
  font-size: 19px;
}
h4, .title_h4 {}
h5, .title_h5 {}
h6, .title_h6 {}

// paragraphs
p {}

// italics
em, i {}

// bolds
b, strong {
  font-weight: 600;
}

// lists
ul, ol {}
li {}

.list {
  counter-reset: section;
  list-style: none;
  &_decorated {
    padding: 0;
    margin: 0;
  }
  &_decorated li {
    padding: 0 0 0 45px;
    margin: 0 0 20px 0;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      display: block;
      float: left;
      margin-left: -45px;
      height: 33px;
      width: 33px;
      line-height: 29px;
      text-align: center;
      border-radius: 50%;
      border: 2px solid $secondary-color;
      counter-increment: section;
      content: counter(section);
      font-size: 18px;
      font-weight: 700;
      font-style: italic;
    }
  }
  &_decorated &__title {
    font-size: 16px;
    display: block;
    padding: 7px 0 0 0;
    margin-bottom: 10px;
    line-height: 19px;
  }
  &_decorated &__content {}
}

// links
a {
  color: $primary-color;
  text-decoration: underline;
}
a:visited {}
a:hover {
  text-decoration: none;
}
a:active {}


// text content
.text {
  &_prim {
    p {
      font-size: 16px;
    }
  }  
}





