.account {

  h1 {
    margin-bottom: 20px;
  }

  &__navigation {
    line-height: 24px;
    margin-bottom: 30px;
    @extend %clearfix;

    &__action {
      display: inline-block;
      float: left;
      clear: both;
      vertical-align: middle;
      height: 24px;
      margin-right: 12px;
      border-radius: 12px;
      color: $black;
      text-decoration: none;
      &:last-child {
        margin-right: 0;
      }
      &.is-active {
        padding-left: 8px;
        padding-right: 8px;
        margin-left: -8px;
        line-height: 20px;
        border: 2px solid $primary-color;
      }
      @include breakpoint(medium) {
        float: none;
        display: inline-block;
      }
    }
  }

}

.account-entry {
  &__profile {
    @extend %clearfix;
    margin-bottom: 45px;
  }

  h1 {
    margin-bottom: 25px;
    line-height: 36px;
    text-align: center;
    @include breakpoint(medium) {
      text-align: left;
    }
  }

  &__balance {
    &__title {
      margin-bottom: 20px;
      text-align: center;
      @include breakpoint(medium) {
        text-align: left;
      }
    }
    &__data {
      line-height: 30px;
      margin-bottom: 40px;
      text-align: center;
      @include breakpoint(medium) {
        text-align: left;
      }
      @include breakpoint(large) {
        height: 30px;
        margin-bottom: 0;
      }
    }
      &__amount {
        min-width: 150px;
        padding-right: 20px;
        display: inline-block;
        font-style: italic;
        font-size: 24px;
        font-weight: 400;
        display: block;
        @include breakpoint(large) {
          display: inline-block;
        }
        span {
          font-size: 18px;
          display: inline-block;
          vertical-align: middle;
          font-family: Tahoma, sans-serif;
        }
      }
      &__action {
        @include nmk-button();
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        &_recharge {
        }
        &_history {}
      }
  }

  &__calendar {
    &__wrapper {
      width: 285px;
      margin: 0 auto;
    }
    &__title {
      line-height: 36px;
      margin-bottom: 25px;
    }
    &__widget {
      min-height: 240px;
      margin-bottom: 20px;
    }
    &__dates {
      height: 19px;
      padding: 0 7px;
      line-height: 19px;
      font-style: italic;
      font-size: 13px;
      display: inline-block;
      margin-bottom: 5px;
      @include pointing-box(19, 6, #fbe797);
    }
    &__event {
      margin-bottom: 15px;
    }
    &__action {
      @include nmk-button();
    }
  }
}


.user-profile {
  &__data {
    @include breakpoint(xlarge) {
      padding-left: 235px;
    }
  }
    &__name {
      display: block;
      margin-bottom: 20px;
      span {
        font-size: 16px;
        display: inline-block;
        font-weight: 600;
      }
      a {
        float: right;
        display: inline-block;
        font-style: italic;
        color: #d0d0d0;
        font-size: 12px;
      }
    }
    &__avatar {
      border-radius: 50%;
      width: 180px;
      min-width: 180px;
      height: 180px;
      display: block;
      margin: 0 auto 30px;
      @include breakpoint(xlarge) {
        float: left;
        margin: 0 0 0 -235px;
        display: block;  
      }
    }
    &__specs {
      p {
        clear: right;
        padding-left: 155px;
        margin-bottom: 3px;
        span {
          display: inline-block;
          font-size: 13px;
          color: #afafaf;
          font-style: italic;
          padding-right: 5px;
          float: left;
          margin-left: -155px;
        }
      }
    }

  &__balance {}
}


.account-videos {
  &__navigation {
    margin-bottom: 19px;
    line-height: 19px;
    &__action {
      line-height: 19px;
      height: 19px;
      margin-bottom: 5px;
      color: $black;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 1px dashed $black;
      margin-right: 20px;
      display: inline-block;
      font-weight: 600;
      
      &:last-child {
        margin: 0;
      }
      &.is-active {
        font-weight: 700;
        border-bottom: none;
      }
    }
  }
}


.account-certificates {
  &__item {
    margin-bottom: 50px;
    @include breakpoint(medium down) {
      clear: both;
    }
    @include breakpoint(large) {
      &:nth-child(2n+1) {
        clear: both;
      }
    }
    @include breakpoint(xlarge) {
      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }
    &__image {
      margin-bottom: 15px;
      overflow: hidden;
      border-radius: 9px;
      @include breakpoint(large) {
        height: 175px;
        position: relative;
        margin-bottom: 5px;
      }
      img {
        display: block;
        width: 100%;
        @include breakpoint(large) {
          min-height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &__title {
      display: block;
      font-size: 16px;
      color: $black;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 10px;
      @include breakpoint(large) {
        margin-bottom: 5px;
        min-height: 48px;
      }
    }
    &__description {
      line-height: 21px;
    }
}


.account-balance {

  &__history {
    font-size: 13px;

    &__title {
      color: #afafaf;
      font-style: italic;
      border-bottom: 1px solid #d8d8d8;
      display: block;
      line-height: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    &__table {
      width: 100%;
      margin-bottom: 20px;
      tr {
        td {
          line-height: 15px;
          padding-top: 6px;
          padding-bottom: 6px;
          &:nth-child(1) {
            width: 25%;
            padding-right: 5px;
          }
          &:nth-child(2) {
            width: 15%;
            padding-left: 5px;
          }
          &:nth-child(3) {
            width: 60%;
            padding-left: 10px;
          }
        }
      }
    }

      &__date {
        font-style: italic;
      }
      &__amount {
        font-style: italic;
        font-size: 15px;
        font-weight: 700;
        span {
          font-size: 13px;
          font-family: Tahoma, sans-serif;
        }
      }
      &__description {
      }

  }

  &__summary {
    text-align: center;
    line-height: 24px;
    margin-bottom: 15px;
    > span {
      display: inline-block;
      vertical-align: middle;
    }
  }
    &__amount {
      font-size: 24px;
      font-weight: 400;
      font-style: italic;
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;
      span {
        font-family: Tahoma, sans-serif;
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  &__action {
    @include nmk-button();
    display: block;
  }

}